<div class="middle-box loginscreen animated fadeInDown ">
  <div>
      <div>

          <h4 class="logo-name">IN+</h4>

      </div>
      <h3 class="text-center">Bienvenue LNF</h3>
      <p  class="text-center">Veuillez vous inscrire.</p>
      <span class="text-danger">{{ errorMessage }}</span>
      <form #myForm="ngForm" class="m-t" role="form" novalidate (ngSubmit)="register()" method="post">
          <div class="form-group">
              <input type="text" class="form-control" name="name" [(ngModel)]="formData.name" placeholder="Votre nom complet" required="">
              <div class="text-danger" c *ngIf="myForm.submitted && !myForm.controls['name']?.valid">
                Veuillez entrer votre nom
              </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="username" [(ngModel)]="formData.username" placeholder="Username" required="">
            <div class="text-danger" c *ngIf="myForm.submitted && !myForm.controls['username']?.valid">
              Veuillez entrer votre identifiant
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" [(ngModel)]="formData.email" placeholder="Email" required="">
            <div class="text-danger" c *ngIf="myForm.submitted && !myForm.controls['email']?.valid">
              Veuillez entrer votre email
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" [(ngModel)]="formData.password" placeholder="Mot de pass" required="">
            <div class="text-danger" c *ngIf="myForm.submitted && !myForm.controls['password']?.valid">
              Veuillez entrer votre mot de pass
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirmePassword" [(ngModel)]="formData.confirmePassword" placeholder="Mot de pass" required="">
            <div class="text-danger" c *ngIf="passwordMessage">
              {{ passwordMessage }}
            </div>
          </div>
          <div class="form-group" hidden >
            <input hidden type="text" class="form-control" name="role" [(ngModel)]="formData.role" required="" disabled="">
            
            <div class="text-danger" c *ngIf="myForm.submitted && !myForm.controls['role']?.valid">
              Veuillez sélectionner un élément dans la liste
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="telephone" [(ngModel)]="formData.telephone" placeholder="telephone" required="">
            <div class="text-danger" c *ngIf="myForm.submitted && !myForm.controls['telephone']?.valid">
              Veuiller renseigner votre numéro de téléphone

            </div>
          </div>

          <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="isSubmited">S'inscrire</button>

          <a href="#"><small>Mot de pass oublié?</small></a>
          <p class="text-muted text-center"><small>Vous avez un compte?</small></p>
          <a class="btn btn-sm btn-white btn-block" href="login">Se connecter</a>
      </form>
      <p class="m-t"> <small>CopyRight &copy; UNCHK 2024</small> </p>
  </div>
</div>
