<div class="ibox">
    <div class="ibox-title">
      <h5>Chat en temps réel</h5>
    </div>
    <div class="ibox-content">
      <div class="chat-discussion">
        <div *ngFor="let message of messages">
          <div *ngIf="message.sender.id == m1 || message.receiver.id == m1">
            <div 
              [ngClass]="{'chat-message left': message.sender.id !== m1, 
                          'chat-message right': message.sender.id === m1}">
              <img class="message-avatar" src="https://avatar.iran.liara.run/public" alt="Avatar">
              <div class="message">
                <a class="message-author" href="#">
                  <div *ngIf="message.sender.id === m1">
                    {{ message.receiver.username }}
                  </div>
                  <div *ngIf="message.receiver.id === m1">
                    {{ message.sender.username }}
                  </div>
                </a>
                <span class="message-date">{{ message.sentAt | date:'short' }}</span>
                <span class="message-content">{{ message.content }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Formulaire de saisie de message -->
      <div class="chat-message-form">
        <div class="form-group">
          <textarea 
            class="form-control message-input" 
            [(ngModel)]="newMessage" 
            placeholder="Écrire un message..." 
            (keyup.enter)="sendMessage()">
          </textarea>
        </div>
        <br>
        <div class="text-right">
          <button 
            class="btn btn-success" 
            (click)="sendMessage()" 
            [disabled]="newMessage.trim() === ''">
            Envoyer
          </button>
        </div>
      </div>
    </div>
  </div>
  